<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.tugraz.ist.wv.diagnose"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="at.tugraz.ist.wv.diagnose.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.tugraz.ist.wv.diagnose.LevelActivity"
            android:label="@string/title_activity_level"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="at.tugraz.ist.wv.diagnose.ListLevelActivity"
            android:label="@string/title_activity_list_level"
            android:parentActivityName="at.tugraz.ist.wv.diagnose.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.tugraz.ist.wv.diagnose.MainActivity" />
        </activity>
        <activity
            android:name="at.tugraz.ist.wv.diagnose.ChooseTimeGameActivity"
            android:label="@string/title_activity_choose_time_game"
            android:parentActivityName="at.tugraz.ist.wv.diagnose.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.tugraz.ist.wv.diagnose.MainActivity" />
        </activity>
        <activity
            android:name="at.tugraz.ist.wv.diagnose.TimeGameActivity"
            android:label="@string/title_activity_time_game"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            android:parentActivityName="at.tugraz.ist.wv.diagnose.ChooseTimeGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.tugraz.ist.wv.diagnose.ChooseTimeGameActivity" />
        </activity>
    </application>

</manifest>